.Slider{
    width: 95%;
    height: 55vh;
    border: 1px solid #fff;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}