.Next{
   font-size: 40px;
    color: white;
    cursor: pointer;
    animation: alternateNext 1s linear infinite;
}
@keyframes alternateNext {
    0%{
	   color: white;
    }
    15%{
	   color: teal;
    }
    30%{
	   color: red;
    }
    45%{
	   color: blue;
    }
    60%{
	   color: chocolate;
    }
    75%{
	   color: fuchsia;
    }
    90%{
	   color: olive;
    }
    100%{
	   color: sandybrown;
    }
}