.ContentItem{
    width: calc(100% / 5 + 5px);
    height: 42vh;
}
.ContentItem figure{
    width: 100%;
    height: 42vh;
    padding: 0 0.4rem;
}

.ContentItem figure img{
    width: 100%;
    height: 15vh;
    object-fit: cover;
}
.ContentItem figure figcaption{
    width: 100%;
    height: 23vh;
    max-width: 200px;
    overflow-y: scroll;
    cursor: pointer;
    padding-bottom: 1rem;
    text-align: center;
}
.ContentItem figure figcaption button{
    padding: 8px 28px;
    border: 1px solid #ffffff;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    margin-top: 0.7rem ;
    transition: all 0.5s;
}
  .active{
    background: black;
}
.active figure figcaption p{
    color: white;
}
.active figure figcaption button{
    color: white;
}
.ContentItem figure figcaption button:hover{
    background: blue;
    color: white;
}
.ContentItem figure figcaption::-webkit-scrollbar{
    width: 3px;
}
.ContentItem figure figcaption::-webkit-scrollbar-track {
    background: linear-gradient(transparent, rgb(0,0,0,0.1));
}
.ContentItem figure figcaption::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,blue);
}